<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Home</title>

   <!-- font awesome cdn link  -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Nunito:wght@200;300;400;500;600&display=swap');

:root{
   --main-color:#be9c79;
   --black:#333;
   --white:#fff;
   --light-color:#666;
   --border:.2rem solid var(--black);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
   font-family: 'Nunito', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   text-transform: capitalize;
}

*::selection{
   background-color: var(--main-color);
   color:var(--white);
}

::-webkit-scrollbar{
   height: .5rem;
   width: 1rem;
}

::-webkit-scrollbar-track{
   background-color: transparent;
}

::-webkit-scrollbar-thumb{
   background-color: var(--main-color);
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 6.5rem;
}

section{
   padding:3rem 2rem;
   max-width: 1200px;
   margin:0 auto;
}

.heading{
   text-align: center;
   margin-bottom: 3rem;
}

.heading img{
   height: 4rem;
   margin-bottom: 1rem;
}

.heading h3{
   font-size:4rem;
   color:var(--black);
   font-family: 'Merienda One', cursive;
}

.btn{
   display: inline-block;
   margin-top: 1rem;
   background-color: var(--main-color);
   cursor: pointer;
   color:var(--white);
   font-size: 1.8rem;
   padding:1rem 3rem;
}

.btn:hover{
   background-color: var(--black);
}

.header{
   position: sticky;
   top:0; left: 0; right:0;
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   z-index: 1000;
}

.header .flex{
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
   padding:1.5rem 2rem;
}

.header .flex .logo img{
   height: 4.5rem;
}

.header .flex .navbar a{
   margin-left: 2rem;
   font-size: 2rem;
   color:var(--black);
}

.header .flex .navbar a:hover{
   text-decoration: underline;
   color:var(--main-color);
}





#menu-btn{
   display: none;
   font-size: 2.5rem;
   color:var(--black);
   cursor: pointer;
}

.home-bg{
   background:linear-gradient(90deg, var(--white), transparent 70%), url(../images/home-bg.jpg) no-repeat;
   background-size: cover;
   background-position: center;
}

.home-bg .home{
   min-height: 70rem;
   display: flex;
   align-items: center;
}

.home-bg .home .content{
   width: 50rem;
   text-align: center;
}

.home-bg .home .content h3{
   font-size: 6rem;
   color:var(--black);
   font-family: 'Merienda One', cursive;
}

.home-bg .home .content p{
   padding:1rem 0;
   font-size: 1.6rem;
   color:var(--black);
   line-height: 2;
}

.about{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap:4rem;
}

.about .image{
   flex:1 1 40rem;
}

.about .image img{
   width: 100%;
}

.about .content{
   flex:1 1 40rem;
}

.about .content h3{
   font-size: 4.5rem;
   color:var(--black);
   font-family: 'Merienda One', cursive;
   padding-bottom: 1rem;
}

.about .content p{
   padding:1rem 0;
   line-height: 2;
   color:var(--light-color);
   font-size: 1.5rem;
}

.facility .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
   gap:1.5rem;
   align-items: flex-start;
}

.facility .box-container .box{
   text-align: center;
}


.facility .box-container .box img{
   height: 10rem;
   margin-bottom: .5rem;
}

.facility .box-container .box h3{
   font-size: 2rem;
   color:var(--black);
   margin:1rem 0;
}

.facility .box-container .box p{
   line-height: 2;
   font-size: 1.5rem;
   color:var(--light-color);
}

.menu .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 30rem);
   gap:2rem;
   align-items: flex-start;
   justify-content: center;
}

.menu .box-container .box{
   text-align: center;
   height: 40vh;
   width: 30vh;
}

.menu .box-container .box img{
   width: 100%;
   margin-bottom: 1rem;
}
.menu .box-container .box img:hover{
  width: 105%;
animation: forwards;
}
.menu .box-container .box h3{
   font-size: 2rem;
   color:var(--black);
}

.gallery .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 33rem);
   gap:1.5rem;
   justify-content: center;
}

.gallery .box-container img{
   height: 100%;
   width: 100%;
   object-fit: cover;
}

.team .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 33rem);
   gap:1.5rem;
   justify-content: center;
}

.team .box-container .box{
   text-align: center;
}

.team .box-container .box img{
   width: 100%;
   object-fit: cover;
   margin-bottom: .5rem;
}

.team .box-container .box h3{
   font-size: 2rem;
   color:var(--black);
}

.contact .row{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap:2rem;
}

.contact .row .image{
   flex:1 1 50rem;
}

.contact .row .image img{
   width: 100%;
}

.contact .row form{
   flex:1 1 30rem;
   border:var(--border);
   padding:2rem;
   text-align: center;
}

.contact .row form h3{
   font-size: 2.5rem;
   margin-bottom: 1rem;
   color:var(--black);
}

.contact .row form .box{
   width: 100%;
   padding:1.4rem;
   font-size: 1.8rem;
   color:var(--black);
   border:var(--border);
   margin:1rem 0;
}

.footer .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
   gap:1.5rem;
   align-items: flex-start;
}

.footer .box-container .box{
   text-align: center;
}

.footer .box-container .box i{
   font-size: 2.5rem;
   line-height: 6rem;
   height: 6rem;
   width: 6rem;
   border-radius: 50%;
   background-color: var(--main-color);
   color:var(--white);
   margin-bottom: 1rem;
}

.footer .box-container .box h3{
   margin:1rem 0;
   font-size: 2rem;
   color:var(--black);
}

.footer .box-container .box p{
   line-height: 2;
   font-size: 1.6rem;
   color:var(--light-color);
}

.footer .credit{
   text-align: center;
   margin-top: 3rem;
   padding-top: 2.5rem;
   border-top: var(--border);
   font-size: 2rem;
   color:var(--black);
   /* padding-bottom: 7rem; */
}

.footer .credit span{
   color:var(--main-color);
}
.section_padding_130 {
    padding-top: 130px;
    padding-bottom: 130px;
}
.faq_area {
    position: relative;
    z-index: 1;
}

.faq-accordian {
    position: relative;
    z-index: 1;
}
.faq-accordian .card {
    position: relative;
    z-index: 1;
    margin-bottom: 1.5rem;
}
.faq-accordian .card:last-child {
    margin-bottom: 0;
}
.faq-accordian .card .card-header {
    background-color: #ffffff;
    padding: 0;
    border-bottom-color: #ebebeb;
}
.faq-accordian .card .card-header h6 {
    cursor: pointer;
    padding: 1.75rem 2rem;
    color: #3f43fd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.faq-accordian .card .card-header h6 span {
    font-size: 1.5rem;
}
.faq-accordian .card .card-header h6.collapsed {
    color: #070a57;
}
.faq-accordian .card .card-header h6.collapsed span {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.faq-accordian .card .card-body {
    padding: 1.75rem 2rem;
}
.faq-accordian .card .card-body p:last-child {
    margin-bottom: 0;
}

@media only screen and (max-width: 575px) {
    .support-button p {
        font-size: 14px;
    }
}

.support-button i {
    color: #3f43fd;
    font-size: 1.25rem;
}
@media only screen and (max-width: 575px) {
    .support-button i {
        font-size: 1rem;
    }
}

.support-button a {
    text-transform: capitalize;
    color: #2ecc71;
}
@media only screen and (max-width: 575px) {
    .support-button a {
        font-size: 13px;
    }
}
</style>
<body>
   
<!-- header section starts  -->

<header class="header">

   <section class="flex">

      <a href="#home" class="logo"><img src="images/logo.png" alt=""></a>

      <nav class="navbar">
         <a href="/home">Home</a>
         <a href="/about">About</a>
         <a href="/getmenu">Menu</a>
         <a href="/product">Store</a>
         <a href="/team">Team</a>
         <a href="/account">Account</a>
      </nav>

   </section>
   <%if(message.length>0){%>
      <div class="alert alert-warning alert-dismissible fade show" style="font-size: 20px;" role="alert">
        <%=message%>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%}%>
</header>

<!-- header section ends -->

<!-- home section starts  -->

<div class="home-bg">

   <section class="home" id="home">

      <div class="content">
         <h3>Esprego coffee</h3>
         <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut officia, accusantium mollitia laudantium dolorum dolore.</p>
      </div>

   </section>

</div>

<!-- home section ends -->

<!-- about section starts  -->

<section class="about" id="about">

   <div class="image">
      <img src="images/about-img.svg" alt="">
   </div>

   <div class="content">
      <h3>A cup of coffee can complete your day</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam suscipit sunt repellendus, dolorum recusandae placeat quae. Iste eaque aspernatur, animi deleniti voluptas, sunt molestias eveniet sint consectetur facere a ex.</p>
      <a href="/about" class="btn">About us</a>
   </div>

</section>

<!-- about section ends -->

<!-- facility section starts  -->

<section class="facility">

   <div class="heading">
      <img src="images/heading-img.png" alt="">
      <h3>our facility</h3>
   </div>

   <div class="box-container">

      <div class="box">
         <img src="images/icon-1.png" alt="">
         <h3>varieties of coffees</h3>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, adipisci!</p>
      </div>

      <div class="box">
         <img src="images/icon-2.png" alt="">
         <h3>coffee beans</h3>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, adipisci!</p>
      </div>

      <div class="box">
         <img src="images/icon-3.png" alt="">
         <h3>breakfast and sweets</h3>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, adipisci!</p>
      </div>

      <div class="box">
         <img src="images/icon-4.png" alt="">
         <h3>read to go coffee</h3>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, adipisci!</p>
      </div>

   </div>

</section>

<!-- facility section ends -->

<!-- menu section starts  -->

<section class="menu" id="menu">

   <div class="heading">
      <img src="images/heading-img.png" alt="" >
      <h3>popular menu</h3>
   </div>

   <div class="box-container">

      <div class="box">
        <a href="/product">
         <img src="images/menu-1.png" alt="">
         <h3>love you coffee</h3>
        </a>
      </div>

      <div class="box">
        <a href="/product">
          <img src="images/menu-2.png" alt="">
          <h3>love you coffee</h3>
         </a>
      </div>

      <div class="box">
        <a href="/product">
          <img src="images/menu-3.png" alt="">
          <h3>love you coffee</h3>
         </a>
      </div>

      <div class="box">
        <a href="/product">
          <img src="images/menu-4.png" alt="">
          <h3>love you coffee</h3>
         </a>
      </div>

      <div class="box">
        <a href="/product">
          <img src="images/menu-5.png" alt="">
          <h3>love you coffee</h3>
         </a>
      </div>

      <div class="box">
        <a href="/product">
          <img src="images/menu-6.png" alt="">
          <h3>love you coffee</h3>
         </a>
      </div>

   </div>

</section>

<!-- contact section starts  -->

<section class="contact" id="contact">

   <div class="heading">
      <img src="images/heading-img.png" alt="">
      <h3>contact us</h3>
   </div>

   <div class="row">

      <div class="image">
         <img src="images/contact-img.svg" alt="">
      </div>

      <form action="/contactus" method="post">
         <h3>Spill the beans, and we'll get back to you a little latte-r.</h3>
         <input type="text" name="contactname" required class="box" maxlength="50" placeholder="enter your name">
         <input type="email" name="contactemail"  required class="box" maxlength="70" placeholder="enter your email"  >
         <input type="text" name="contactmessage" required  class="box" maxlength="200" placeholder="enter your Message" >
         <input type="submit"  value="send message" class="btn">
      </form>

   </div>

</section>

<!-- contact section ends -->
<section>


   <div class="faq_area section_padding_130" id="faq" style="    margin-top: -150px;">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-12 col-sm-8 col-lg-6">
   
                  <div class="heading">
                     <img src="images/heading-img.png" alt="">
                     <%if(faq.length>0){%>
                     <h3>Frequently Asked Questions</h3>
                     <%}else{%>
                        <h3>No Faqs are Avaliable Right Now</h3>
                        <%}%>
                  </div>
              </div>
          </div>
          <%
          if(faq.length>0){
             faq.forEach(element => {
          %>
          <div class="row justify-content-center" style="color:black;">
    
              <div class="col-12 col-sm-10 col-lg-8" style="margin: 23px;" >
                  <div class="accordion faq-accordian" id="faqAccordion" style="box-shadow: 500px black; border: 2px solid rgb(198, 198, 198);">
                      <div class="card border-0 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                          <div class="card-header" id="heading<%=element.id%>" >
                              <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapse<%=element.id%>" aria-expanded="true" aria-controls="collapse<%=element.id%>"style="font-size: 2.5rem;color:black;"><%=element.q%>?<span class="lni-chevron-up" ></span></h6>
                          </div>
                          <div class="collapse" id="collapse<%=element.id%>" aria-labelledby="heading<%=element.id%>" data-parent="#faqAccordion">
                              <div class="card-body">
                                  <p style="font-size:1.5rem ;"><%=element.a%></p>
                              </div>
                          </div>
                  </div>
              </div>
          </div>
      </div>
<%
   })
          } %>
  </div>


</section>


<section class="footer blockk" >

   <div class="box-container">

      <div class="box">
         <i class="fas fa-envelope"></i>
         <h3>our email</h3>
         <p>f200282@cfd.nu.edy.pk</p>
         <p>f200322@cfd.nu.edu.pk</p>
      </div>

      <div class="box">
         <i class="fas fa-clock"></i>
         <h3>opening hours</h3>
         <p>07:00am to 09:00pm</p>
      </div>

      <div class="box">
         <i class="fas fa-map-marker-alt"></i>
         <h3>shop location</h3>
         <p>Fsd,Pakistan -38000</p>
      </div>

      <div class="box">
         <i class="fas fa-phone"></i>
         <h3>our number</h3>
         <p>+123-456-7890</p>
         <p>+111-222-3333</p>
      </div>

   </div>

   <div class="credit"> &copy; copyright @ 2022 by <span>M.Ahmed & Esha</span> | all rights reserved! </div>

</section>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="jquery.smoove.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script>
   $('.alert').alert()
   </script>

</body>
</html>