<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <title>TEAM</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;900&display=swap');
*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins",sans-serif;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey; 
    border-radius: 10px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #846DCF; 
    border-radius: 8px;
  }
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #846DCF; 
}
:root{
    /* this is for navbar */
    --firstbox: white;
  }
  .firstbox{
    position: relative;
    width: 100%;
    min-height: 0vh;
    display: flex;
    align-content: space-between;
    align-items: center;
    background-color: #624A2E;
  }
  .firstbox header{
    background-color: var(--firstbox);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  }
  .firstbox header .logo{
    position: relative;
    max-width: 80px;
  }
  .firstbox header ul{
    position: relative;
    display: flex;
  }
  .firstbox header ul li{
    list-style: none;
  }
  .firstbox header ul li a{
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
  }

body
{
   /* display: flex;
   justify-content: center;
   align-items: center; */
   flex-wrap: wrap;
   min-height: 100vh;
   min-width: 100%;
   background:white;
}
/* }
.placeholder{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin-left: 100px;
    margin-right: 100px;
}
.card {
	max-width: 300px;
	width: 100%;
	position: relative;
	border-radius: 15px;
	overflow: hidden;
	transition: .4s cubic-bezier(.175,.885,0,1);
	box-shadow: 0 13px 10px -7px rgba(0,0,0,.1);
	background: #fff;
    margin: 20px;
}
.card:hover {
	box-shadow: 0 30px 18px -8px rgba(0,0,0,.1);
	transform: scale(1.1,1.1);
}
.card__hover {
	position: absolute;
	padding: 16px;
	width: 100%;
	opacity: 0;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.card__link {
	color: #e74c3c;
}
.card__time {
	display: flex;
	align-items: center;
}
.card__time span {
	font-size: 12px;
	color: #000;
	margin-left: 5px;
}

.card__container {
	display: flex;
	height: 235px;
}

.card__img {
	transition: .2s;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	position: absolute;
	height: 235px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	top: 0;
}

.card__info {
	background: #fff;
	z-index: 2;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	padding: 15px 25px 25px 25px;
}

.card__category {
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 2px;
	font-weight: 500;
	color: #868686;
}

.card__title {
	margin-top: 5px;
	font-weight: 500;
	color: #000;
}
.card__by {
	font-size: 22px;
	font-weight: 500;
    color: rgb(207, 165, 111);
}

.card:hover .card__img {
	height: 100%;
	opacity: .3;
}

.card:hover .card__info {
	background: transparent;
	position: relative;
}

.card:hover .card__hover {
	opacity: 1;
} 
*/

.middle{
  display: flex;
  justify-content: center;
}
.middle h1{
  color: red;
  font-weight: 900;
}
.middle a{
  text-decoration: none;
  color: red;
}
.middle h1:hover{
 text-decoration:line-through;
}

.search{
    margin-top: 2vh;
    height: 70px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid lightslategrey;
}

.search-input{

    color: white;
    border:0;
    outline: 0;
    background: none;
    width: 0;
    margin-top:5px;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;

}

.search .search-input{
    padding: 0 10px;
    width: 550px;
    caret-color: #536bf6;
    font-size: 21px;
    font-weight: 300;
    color: black;
    transition: width 0.4s linear;
}

.search:hover>.search-icon{
    background:#1A237E;
    color:#fff;
}
.search-icon{

    height: 50px;
    width: 50px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #536bf6;

}
a:link{
    text-decoration: none;
}












@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

img{
    width: 100%;
    display: block;
}
.main-wrapper{
    background-color: #fff;
    min-height: 100vh;
    overflow-x: 0;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}
.main-title{
    text-align: center;
}
.main-title h1{
    padding: 16px 0;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.display-style-btns{
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #fff;
    padding: 16px 0;
    border-radius: 5px;
}
.display-style-btns button{
    border: none;
    font-size: 22px;
    display: inline-block;
    vertical-align: top;
    margin: 0 8px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.display-style-btns button:hover{
    color: #f79410;
}
.active-btn{
    color: #f79410;
}


.item-list{
    margin: 36px 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 32px;
}
.item{
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 4px 0 rgba(15, 4, 4, 0.05);
    transition: all 0.2s ease-out;
}
.item:hover{
    box-shadow: 0 0 10px 1px rgba(0, 4, 4, 0.15);
}
.item-img{
    position: relative;
    overflow: hidden;
}
.item-img img{
    width: 70%;
    margin: 16px auto;
}
.icon-list{
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-out;
}
.icon-list button{
    border: none;
    background-color: #202020;
    color: #fff;
    margin: 0 6px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.icon-list button:hover{
    background-color: #f4f4f4;
    color: #202020;
}
.item-img:hover .icon-list{
    bottom: 26px;
}
.item-detail{
    padding: 16px;
    color: #202020;
    text-align: center;
}
.item-name{
    font-weight: 500;
    font-size: 18px;
    color: #202020;
    display: block;
}
.item-price{
    margin: 10px 0;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
}
.old-price{
    text-decoration: line-through;
    opacity: 0.6;
}
.new-price{
    color: #f79410;
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
}
.item-detail p{
    font-weight: 300;
    opacity: 0.9;
    font-size: 15px;
    line-height: 1.7;
    display: none;
}
.add-btn{
    margin: 16px 0;
    text-transform: uppercase;
    border: none;
    background-color: #202020;
    color: #fff;
    font-family: inherit;
    padding: 10px 28px;
    border: 1px solid #202020;
    cursor: pointer;
    transition: all 0.3s ease-out;
    display: none;
}
.add-btn:hover{
    background-color: #fff;
    color: #202020;
}


/* stylings for details active */
.details-active.item-list{
    grid-template-columns: 100%;
}
.details-active .item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.details-active .item-detail{
    text-align: left;
}
.details-active .item-price{
    justify-content: flex-start;
}
.details-active .item-detail p{
    display: block;
}
.details-active .item-detail .add-btn{
    display: block;
}



@media screen and (min-width: 678px){
    .item-list{
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
    }
}

@media screen and (min-width: 768px){
    .item-list{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 576px){
    .details-active .item{
        grid-template-columns: 100%;
    }
}


::selection{
  color: #fff;
  background: #17A2B8;
}
.wrapper-body{
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}
.wrapper{
  height: 200px;
  width: 700px;
  background: #fff;
  border-radius: 10px;
  padding: 20px 25px 40px;
  box-shadow: 0 12px 35px rgba(0,0,0,0.1);
}
.price-input{
  width: 90%;
  display: flex;
  align-self: center;
  margin: 15px 0 17px;
}
.price-input .field{
  display: flex;
  width: 100%;
  height: 35px;
  align-items: center;
}
.field input{
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 18px;
  margin-left: 12px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #999;
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.price-input .separator{
  width: 130px;
  display: flex;
  font-size: 19px;
  align-items: center;
  justify-content: center;
}
.slider{
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}
.slider .progress{
  height: 100%;
  left: 25%;
  right: 25%;
  position: absolute;
  border-radius: 5px;

}
.range-input{
  position: relative;
}
.range-input input{
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="range"]::-webkit-slider-thumb{
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #17A2B8;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0,0,0,0.05);
}
input[type="range"]::-moz-range-thumb{
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: #17A2B8;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0,0,0,0.05);
}
</style>
<body>
    <div class="firstbox">
        <div class="circle"></div>
        <header>
           <a href="" class="logo"><img src="../images/logo.png" alt="here is logo"></a>
   <ul>
    <li class="class"><a href="/home">Home</a></li>
    <li class="class"><a href="/about">About us</a></li>
    <li class="class"><a href="/contact">Contact us</a></li>
    <li class="class"><a href="/team">Team</a></li>
    <li class="class"><a href="/product">Products</a></li>
    <li class="class"><a href="/account">Account</a></li>
  </ul></header>
</div>

<div class="wrapper-body">
  <div class="wrapper">
      <div class="search">
          <form action="/searchteam">
            <input type="text" class="search-input" placeholder="search..." name="sname" id="sname">
            <input  class="search-icon" type="submit" value="S">
        </div>
      <div class="price-input" >
      <div class="field">
        <span>Year OF Experience</span>
        <input type="number" class="input-min" max="60" value="60" name="year" id="year">
      </div>
    </form>
  </div>
</div>
</div>
       


<div class = "main-wrapper">
  <div class = "container">
      <div class = "display-style-btns">
          <button type = "button" id = "grid-active-btn">
              <i class = "fas fa-th"></i>
          </button>
          <button type = "button" id = "details-active-btn">
              <i class = "fas fa-list-ul"></i>
          </button>
      </div>

      <div class = "item-list">
        <%if(data.length > 0){

          data.forEach(function(data){
       %> 
          <div class = "item">
              <div class = "item-img">
                  <img src = "../images/<%=data.imgpath%>">
              </div>
              <div class = "item-detail">
                  <a href="/teamdetail/<%= data.workerid %>" class = "item-name"><%=data.workerfname%> <%=data.workerlname%></a>
                  <div class = "item-price">
                      <span class = "new-price"><%=data.workerpos%></span>
                  </div>
                  <p><%=data.workerdesc%></p>
                  <p><%=data.workerfax%></p>
                  <button type = "button" class = "add-btn">add to cart</button>
              </div>
          </div>
          <%
                          });
                      }
                      %>
      </div>
  </div>
</div>

</body>
<script>
  const itemList = document.querySelector('.item-list');
const gridViewBtn = document.getElementById('grid-active-btn');
const detailsViewBtn = document.getElementById('details-active-btn');

gridViewBtn.classList.add('active-btn');

gridViewBtn.addEventListener('click', () => {
    gridViewBtn.classList.add('active-btn');
    detailsViewBtn.classList.remove('active-btn');
    itemList.classList.remove('details-active');
});

detailsViewBtn.addEventListener('click', () => {
    detailsViewBtn.classList.add('active-btn');
    gridViewBtn.classList.remove("active-btn");
    itemList.classList.add("details-active");
});
</script>
</html>
